body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding-left: 2em;
  font-size: 42px;
  margin: 0;
}

p {
  font-size: medium;
}

.aero-flex {
  display: flex;
  flex-direction: row;
  margin: 2%;
  line-height: 3em;
}

.aero-centred {
  text-align: center;
}

.aero-header {
  background-color: #b6b6b6;
  color: white;
  border-bottom: 1px solid #696969;
  line-height: 5em;
}

.aero-table-block {
  background-color: rgb(244, 244, 244);
  border-bottom: 2px solid #6cd5f8;
  box-shadow: 0 5px 15px 3px #ccc;
  position: sticky;
  top: 0;
  width: 100%;
}

.aero-add-zero-margin {
  margin: 0;
}

.aero-flex-container {
  display: flex;
  flex-direction: row;
}

.aero-search-container {
  position: sticky;
  top: 0;
  box-shadow: 0 6em 15px 3px #ccc;
  background-color: rgb(244, 244, 244);
}

.aero-search-field-container {
  border: 1px solid darkgray;
  margin-top: 5%;
  padding-left: 5px;
  border-radius: 5px;
  background-color: white;
  width: fit-content;

}

.aero-search-input-field {
  width: fit-content;
  min-width: 13vw;
  padding: 8px;
  line-height: 3em;
}

.aero-radio-container {
  padding-top: 2em;
}

.aero-full-height {
  height: 100vh;
}

.aero-tab {
  padding-left: 10%;
  padding-top: 2em;
}

.aero-border-top {
  border-top: 2px solid #6cd5f8;
}


