body {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

h1, h3 {
  padding-left: 2em;
  margin: 0;
}

.aero-flex {
  display: flex;
  flex-direction: row;
  margin: 1%;
  line-height: 3.5em;
}

.aero-centred {
  text-align: center;
}

.aero-header {
  background-color: #a3a3a3;
  color: white;
  border-bottom: 1px solid #696969;
  line-height: 5em;
}

.aero-table-block {
  background-image: linear-gradient(#cccccc, whitesmoke, #cccccc);
  position: sticky;
  top: 0;
  width: 100%;
}

.aero-add-zero-margin {
  margin: 0;
}

.aero-flex-container {
  display: flex;
  flex-direction: row;
}

.aero-search-container {
  border-left: 1px solid #696969;
  min-height: 100%;
}



